<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Boston Salary</title>
    <link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' />
  </head>

  <body class='container'>
    <h1><a href='/'>Boston Salary Checker</a></h1>
	</br>
	<div id='main'>
		<%= yield %>
	</div>
  </body>
</html>